<%- include('partials/admin_header'); -%>

<div class="container">
    <h1 class="page_head">Success!!</h1>

    <p class="blog_content"> 
        Your blogpost has been successfully submitted! Upon review by the admin of this site it will be published on the blogpost page.
        <br /> <br />
        Thank you for your contribution!
        <br />
    </p>
    
    <button class="btn-post-submit" type="button" style="margin-bottom: 10px;"><a class="success" href="/admin/dashboard">Dashboard</a></button>
    <button class="btn-post-submit" type="button" style="margin-bottom: 10px;"><a class="success" href="/admin/posts">Your Posts</a></button>
    
</div>

<%- include('partials/admin_footer'); -%>