<%- include('partials/header'); -%>

<div class="container">
    <h1 class="page_head">About us:</h1>

    <p class="blog_content"> Gay 4 Jesus is a blog site where thoughts and experiences are shared with the goal to encourage LGBTQ+ Christians in their walk with Jesus!<br />
        <br />
        There are many different views on whether same-sex relationships are allowed in the Bible and how we as the LGBTQ+ community need to deal with our sexual orientation. The idea is not to debate – but rather to encourage each other through personal testimonies, experiences and revelations that we have received from the Lord. <br />
        <br />
        We believe that salvation comes by faith – and not by works – it is a gift of grace from God! We seek to serve God as best we can with the gifts that He has created us with. We are called to love!<br />
        <br />
        Eph. 2:7-10 – <em>“Now God has us where he wants us, with all the time in this world and the next to shower grace and kindness upon us in Christ Jesus. Saving is all his idea, and all his work. All we do is trust him enough to let him do it. It’s God’s gift from start to finish! We don’t play the major role. If we did, we’d probably go around bragging that we’d done the whole thing! No, we neither make nor save ourselves. God does both the making and saving. He creates each of us by Christ Jesus to join him in the work he does, the good work he has gotten ready for us to do, work we had better be doing.”</em><br />
        <br />
        <strong>Recommended Resources:</strong><br />
        Torn – Justin Lee<br />
        Changing our Mind – David P. Gushee<br />
        Scripture, Ethics and the Possibility of Same-Sex Relationships – Karen Keen<br />
        Affirming – Sally Gary<br />
        Heavy Burdens: 7 ways LGBTQ Christians experience harm in the church – Bridget E. Rivera<br />
        God and the Gay Christian – Matthew Vines<br />
        Website: <a href="https://www.centerpeace.net/">CenterPeace</a><br />
        Website: <a href="https://reformationproject.org/">Reformation Project</a><br />
        <br />
    </div>

<%- include('partials/footer'); -%>