<%- include('partials/header'); -%>

<div class="container">
    <h1 class="page_head">Contact & Support</h1>

    <p class="blog_content">
        This page is still under construction!
        <br /> <br />
        <strong>Support</strong><br />
        If you believe in what we are doing here and would like to support our cause, please concider <a href="https://patreon.com/Gay4Jesus">supporting us on Patreon.</a> <br />
        We have monthly support plans - where you could support us with either $3, $5 or $10. This would help us grow this project into something greater!         
        <br /> <br />
        <strong>Contact</strong><br />
        To contact us urgently, send an email to the Admin - <a href="mailto:myfakewebdevco@gmail.com">myfakewebdevco@gmail.com</a>
        <br /> <br />
    </p>
</div>

<%- include('partials/footer'); -%>