<%- include('partials/header'); -%>

<!-- Welcome -->
<div class="container col-xxl-8 px-4 welcome-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
      <div id="main_logo" class="col-10 col-sm-8 col-lg-6">
        <img src="/images/default.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 welcome-text">
        <h1 class="fw-bold text-body-emphasis lh-1 mb-3">Welcome to <br>"Gay 4 Jesus" Blogs</h1>
        <p class="lead">A place where the love of Christ for the LGBTQ+ community can be discussed and displayed. A place where stories and experiences can be shared and we can learn from each other, encourage each other and build each other up.
            <br> 
            <br>
            "But for right now, until that completeness, we have three things to do to lead us toward that consummation: Trust steadily in God, hope unswervingly, love extravagantly. And the best of the three is love." (1 Cor. 13:13 MSG)
        </p>
      </div>
    </div>
  </div>

<%- include('partials/footer'); -%>