<%- include('partials/header'); -%>

<div class="container">
    <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative post-page">
        
            <h1 class="page_head">Success!!</h1>

            <p class="blog_content"> 
                Your comment has been successfully submitted! Upon review by the admin of this site it will be published on the blogpost page.
                <br /> <br />
                Thank you for your contribution and being part of this community!
                <br />
            </p>
            
            <button class="btn my-4 mx-2" type="button" style="margin-bottom: 10px;"><a class="success" href="/">Home</a></button>
            <button class="btn my-4 mx-2" type="button" style="margin-bottom: 10px;"><a class="success" href="/blogs">Blogposts</a></button>
       
    </div>    
</div>

<%- include('partials/footer'); -%>