
</div> <!-- col 2 - page from header -->       
</div>   <!-- row from header -->
<!-- <div class="row"> -->
    <!-- Footer -->
     
    <div class="container footer-container">
        <hr class="rainbow">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-0">© 2023 built by My FAKE WebDev Co.</p>
        
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img id="footer-logo" src="/images/isolated-monochrome-white.svg" height="20" alt="gay_4_Jesus_logo">
            </a>
        
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 footer-link">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 footer-link">About</a></li>
                <li class="nav-item"><a href="/blogs" class="nav-link px-2 footer-link">Blogs</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link px-2 footer-link">Contact & Support</a></li>
            </ul>
        </footer>
    </div>
<!-- </div> -->
</div>  <!-- content-wrap from header -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/summernote.min.js"></script>
</body>
</html>